<h1>Galpões & Estoque</h1>

<p>Lista de galpões cadastrados:</p>

<% @warehouses.each do |warehouse| %>
  <%= link_to "#{warehouse.name}", warehouse %>
  <span>Código: <%= warehouse.code %></span>
  <span>Cidade: <%= warehouse.city %></span>
  <span><%= warehouse.area %> m2</span>
<% end %>

<% if @warehouses.empty? %>
  <p>Não existem galpões cadastrados</p>
<% end %>
