<% if @suppliers.empty? %>
  <p class="text-center">Não existem fornecedores cadastrados</p>
<% end %>

<div class="container">
  <% @suppliers.each do |supplier| %>
    <%= link_to supplier, class: "container-item" do %>
      <%= content_tag(:span, supplier.brand_name) %>
      <%= content_tag(:span, supplier.city) %>
    <% end %>
  <% end %>
</div>
